.home {
   border:2px hotpink solid  
}

.main-holder{
   border: 2px green solid
}

/* .add-btn {
   border: 2px white solid;
   background-color: rgb(12,159,255);
  color: black;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size:20px;
  font-weight: 800; 
} */

.add-btn{
   border-radius: 12px;
    border: 2px solid white;
    margin: 20px;
    background: rgb(12,159,255);
    color: white;
    font-size: 1.5rem;
    width: 90%;
}

.btn-container {
   display:flex;
   justify-content: center;
   padding: 10px;
   background: linear-gradient(to top, #0c9fff 13%, #66ccff 100%);
}