

.jumbo {
    background: linear-gradient(to top, #0c9fff 13%, #66ccff 100%);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 220px;
}

.main-header{
    padding-top: 35px;
    margin: 0;
    color:white;
    font-size: 3.5em;
    

}

.main-subheader{
    margin:0;
    padding: 15px;
    color: white;
    font-size: 1.25rem;
}
